{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "comma-dangle": 0,
    "semi": 0,
  }
}
